body{ font-family:"Roboto", sans-serif; padding-top: 70px;}
.myui-header__top{ position: fixed;}
body.active{padding-top: 60px;}	[class*=col-],.myui-content__list li,.myui-vodlist__media.col li{ padding: 10px}
.btn{ border-radius: 5px;}
.myui-vodlist__thumb{ border-radius:5px; padding-top:150%; background: url(../../assets/images/20230123/6dad92d2f.png) no-repeat;}
.myui-vodlist__thumb.square{ padding-top: 100%; background: url(../../assets/images/20230123/0e243baf9.png) no-repeat;}
.myui-vodlist__thumb.wide{ padding-top: 60%; background: url(../../assets/images/20230123/4854a9e6f.png) no-repeat;}
.myui-vodlist__thumb.actor{ padding-top: 140%;}
.flickity-prev-next-button.previous{ left: 10px;}
.flickity-prev-next-button.next{ right: 10px;}
.myui-sidebar{ padding: 0 0 0 10px;}
.myui-panel{ margin-bottom: 10px; border-radius: 5px;}
.myui-panel-mb{ margin-bottom: 10px;}
.myui-player__item .fixed{ width: 500px;}
.myui-vodlist__text li a,.myui-vodlist__media li{ padding: 10px 0;}
.myui-screen__list{ padding: 10px 10px 0;}
.myui-screen__list li{ margin-bottom: 10px; margin-right: 10px;}
.myui-page{ padding: 0 10px;}
.myui-extra{ right: 20px; bottom: 30px;}
@media (min-width: 1200px){
    .container{ max-width: 1400px;}
    .container{ padding-left: 0px;  padding-right: 0px;}
    .container.min{ width: 1200px; padding: 0;}
    .playtop{ display: none;}
}
@media (max-width: 767px){
    body,body.active{ padding-bottom: 50px;}
    [class*=col-],.myui-panel,.myui-content__list li{ padding: 5px}
    .flickity-prev-next-button.previous{ left: 5px;}
    .flickity-prev-next-button.next{ right: 5px;}
    .myui-vodlist__text li a,.myui-vodlist__media li{ padding: 10px 0;}
    .myui-screen__list{ padding: 10px 5px 0;}
    .myui-screen__list li{ margin-bottom: 5px; margin-right: 5px;}
    .myui-extra{ right: 20px; bottom: 80px;}
    .myui-page{ padding: 0 5px;}}
.myui-topbg{ position: absolute; top: 0; left: 0; right: 0; width: 100%; 	}
.bg_atmosphere{background-color:rgb(214,0,21);position: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;}
.bg_atmosphere img{width: 100%;height: 100%;}
.tongji{display: none;}

#result {
    margin-top: 20px;
    background-color: #faf9f9;
    list-style-type: none;
    width: 500px;
    position: absolute;
    top: 32px;
    z-index: 100;
    padding-left: 0;
}

.column {
    float: left;
    padding: 5px;
}

.left {
    text-align: center;
    width: 20%;
}

.right {
    width: 80%;
}

.rowsearch:after {
    content: "";
    display: table;
    clear: both;
}

#result .rowsearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

#result .rowsearch p {
    margin-bottom: 1px;
}

.rowsearch:hover {
    background-color: #d7d3d3;
}

.active-server {
    margin: 5px;
    padding: 4px;
    border-radius: 10px;
    background: #FFF !important;
    color: #0a0d0e !important;
}

.playactive {
    color: #FFF !important;
    background: #c92626 !important;
}

#streaming-sv {
    cursor: pointer !important;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}
